<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>count練習.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>024B23821CE5E6C700BD2356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>024B23991CE5E6C700BD2356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>024B23A41CE5E6C800BD2356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
